/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /CSS reset */

/* html rule for 100% height of the window */
html {
    height: 100%;
}
/* /html rule for 100% height of the window */

/* body rule for page size */
body {
    background-color: #0e0e0e;
    height: 97%;
}
/* /body rule for page size */

/* page wrap */
#page-wrap {
    background-color: #f6f8f9;
    height: 100%;
    margin: 1% 13.5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* /page wrap */

/* top-header */
#top-header {
    background-color: #ffffff;
}
/* /top-header */

/* title */
h1 {
    display: inline-block;
    margin: 10px 0;
}
/* /title */

/* main */
main {
    margin: 5% 15% 0;
    border-bottom: 10px solid #f6f8f9;
}
/* /main */

/* buttons */
.buttons-div {
    background-color: #ffffff;
    border-radius: 1px;
    padding: 10px 0 5px 20px;
    border-bottom: 2px solid #f6f8f9;
}
/* /buttons */

/* to-do list */
.to-do-list {
    background-color: #ffffff;
    padding: 30px 0 40px 20px;
}
/* /to-do list */

/* done = check mark rule */
.done {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
    font-size: 8px;
    margin-right: 5px;
}
/* /done = check mark rule */

/* not done = cross character */
.not {
    color: red;
    border: 1px solid red;
}
/* /not done = cross character */

/* down-arrow */
.down-arrow {
    font-size: 25px;
}
/* /down-arrow */

/* label class */
.label {
    color: white;
    border-radius: 25%;
    padding: 3px 7px;
    font-size: 10px;
    margin-left: 3px;
}
/* /label class */

/* editorial class */
.editorial {
    background-color: #45abea;
}
/* /editorial class */

/* goals class */
.goals {
    background-color: #9c72e4;
}
/* /goals class */

/* recruiting class */
.recruiting {
    background-color: #64c0a9;
}
/* /recruiting class */

/* mobile class */
.mobile {
    background-color: #f29e33;
}
/* /mobile class */

/* website class */
.website {
    background-color: #d863a1;
}
/* /website class */

/* sales class */
.sales {
    background-color: #b0c926;
}
/* /sales class */

/* task button */
.task {
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}
/* /task button */

/* section button */
.section {
    background-color: #ffffff;
    color: #cacfd4;
    border: 1px solid #c7cdd2;
}
/* /section button */

/* buttons shared rules */
.button {
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px;
}
/* /buttons shared rules */

/* chapter: shared rules for all sections */
.chapter {
    margin: 10px;
}
/* /chapter: shared rules for all sections */