/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /CSS reset */

/* body rule for page size */
body {
    margin: 2% 10%;
    background-color: #0e0e0e;
}
/* /body rule for page size */

/* page wrap */
#page-wrap {
    background-color: #f6f8f9;
}
/* /page wrap */

/* top-header */
#top-header {
    background-color: #ffffff;
}
/* /top-header */

/* title */
h1 {
    display: inline;
}
/* /title */

/* main */
main {
    margin: 5% 15% 0;
}
/* /main */

/* buttons */
.buttons {
    background-color: #ffffff;
    border-radius: 1px;
    margin-bottom: 1%;
}
/* /buttons */

/* to-do list */
.to-do-list {
    background-color: #ffffff;
}
/* /to-do list */

/* done = check mark rule */
.done {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
    font-size: 8px;
}
/* /done = check mark rule */

/* not done = cross character */
.not {
    color: red;
    border: 1px solid red;
}
/* /not done = cross character */

/* down-arrow */
.down-arrow {
    font-size: 25px;
}
/* /down-arrow */

/* label class */
.label {
    color: white;
    border-radius: 25%;
    padding: 3px 7px;
    font-size: 10px;
}
/* /label class */

/* editorial class */
.editorial {
    background-color: #45abea;
}
/* /editorial class */

/* goals class */
.goals {
    background-color: #9c72e4;
}
/* /goals class */

/* recruiting class */
.recruiting {
    background-color: #64c0a9;
}
/* /recruiting class */

/* mobile class */
.mobile {
    background-color: #f29e33;
}
/* /mobile class */

/* website class */
.website {
    background-color: #d863a1;
}
/* /website class */

/* sales class */
.sales {
    background-color: #b0c926;
}
/* /sales class */

/* editorial class */
.editorial {
    background-color: #45abea;
}
/* /editorial class */